.signupcontainer{
    position: relative;
    display: flex;
    justify-content: space-around;
    height: 100vh;
    width: 100vw;
    background-color: #212121;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    align-items: center;
}

.welcometext{
    width: 356px;
    height: 39px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;

   

}

.textsignup{
    display: flex;
    flex-direction: column;
   
    
}

.line{
    width: 160px;
    height: 0px;
    border: 3px solid #FFFFFF;
    margin-top: 10px;
    margin-bottom: 10px;

}

.signexpression{
width: 256px;
height: 19px;
font-family: 'Inter';
font-style: normal;
font-weight: 100;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
color: #FFFFFF;

}

.signupcard{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 350px;
    height: 341px;
    left: 0px;
    top: 0px;
    background-color: #373535;
    border-radius: 10px;
}


.input-box{
    width: 281px;
    height: 51px;
    border-radius: 10px;
    color: rgba(171, 181, 190, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    background-color: #FFFFFF;
    align-items: center;
    
}

.button-continue{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;

    width: 220px;
    height: 39px;

    /* /Gray / White */

    background: #FFFFFF;
    /* Dark */

    border: 1px solid #343A40;
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
}


.by-joining{
    width: 309px;
    height: 34px;
    left: 21px;
    top: 216px;
    /* font-family: 'Inter'; */
    font-size: normal;
    font-size: 13px;
    font-weight: 100;
    /* identical to box height */
    color: #FFFFFF;
    text-align: center;
    margin-left: 2px;


}



.line-2{
    width: 250px;
    height: 0px;
    left: 18px;
    top: 292px;
    border: 1px solid #000000;
    margin-top: 30px;
}

.signin{
    display: flex;
    width: 173px;
    height: 17px;
    left: 86px;
    top: 307px;
    /* font-family: 'Inter'; */
    font-size: 14px;
    text-align: center;
    margin-bottom: 15px;

}

.button-join{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;

    width: 110px;
    height: 39px;


    background: #FFFFFF;


    border: 1px solid #343A40;
    border-radius: 4px;
    margin-left: 20px;
}
.button-back{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    margin-right: 20px;
    width: 110px;
    height: 39px;

    /* /Gray / White */

    background: #FFFFFF;
    /* Dark */

    border: 1px solid #343A40;
    border-radius: 4px;

    /* Inside auto layout */
}