.bg-request-page{
    background-color: #212121;
    height: -o-calc(100% - 89px); /* opera */
    height: -webkit-calc(100% - 89px); /* google, safari */
    height: -moz-calc(100% - 89px); /* firefox */
}

.bg-card{
    background-color: #373535;
    border-radius: 8px;
}

.hr{
    height: 5px;
    background-color: #ffffff;
    border: none;
}

.form-floating:focus-within{
    z-index: 2;
}

.by-joining{
    font-weight:100;
    font-size: 15px;
    color: #FFFFFF;
    margin-top: 5%;
}

.already{
    font-weight:100;
    font-size: 15px;
    color: #FFFFFF;
}

.sign-in{
    font-weight:bold;
    font-size: 15px;
    color: #FFFFFF;
}

.welcometext{
    font-weight: bold;
    font-size: 32px;
    color: #FFFFFF;
}

.liberate{
    font-weight: normal;
    font-size: 16px;
    color: #FFFFFF;
}

/* CSS for password show/hide button */

.input-text {
    position: relative;
}

.input-text .eye-slash {
    position: absolute;
    right: 10px;
    top: 20px;
    font-size:1.2rem;
    cursor:pointer;
}
.eye {
    position: absolute;
    right: 10px;
    top: 20px;
    font-size:1.2rem;
    cursor:pointer;
}

.type_password {
    border: 1px solid red !important
}

/* CSS for card transition */

.card {
    animation: transitionCard .75s;
}
  
@keyframes transitionCard {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to {
        opacity: 1;
        transform: rotateX(0);
    }
}