.bg-request-page{
    background-color: #212121;
}

.line{
    border: 1px solid #FFFFFF;
}

.title-payment{
    font-weight: 400;
    color: #FFFFFF;
    font-family: 'SF Pro Display';
    font-size: 24px;
}

.no-ewallet{
    display: flex;
    justify-content: center;
    text-align:center;
    color: #FFFFFF;
    padding-top: 8px;
}

.font-general{
    color: #FFFFFF;
    font-family: 'SF Pro Display';
    font-size: 20px;
}

.detail-invoice{
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: #212121;
    /* padding: 8% 0 8% 0;
    margin: 5% 10% 5% 10% ; */
    border-radius: 10px;
}

.button-confirm{
    font-family: 'SF Pro Display';
    font-size: 24px;
    font-weight: 600;
}  