.bg-request-page{
    background-color: #212121;
}


.hr{
    height: 1px;
    background-color: #ffffff;
    border: none;
}

.bg-card{
    background-color: #373535;
    border-radius: 8px;
}

.line-vertikal{
    border: 1px solid #ffffff;
}

.all-text-font{
    color: #ffffff;
}

.font-price{
    font-size: 20px;
}

.font-nominal{
    color: #ffffff;
    font-size: 20px;

}