.carousel-indicators [data-bs-target] {
    /* border-top: none;
    border-bottom: none; */
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.carousel-img {
    border-radius: 12px;
    min-height: 26.5rem;
    object-fit: cover;
}